<!-- Isso é uma tag <html> -->
<!-- Na tag <head> irá configurações do meu documento -->
<!-- Na tag <body> ficará todo conteúdo visível na página -->
<!-- HTML: Hypertext Markup Language -->

<!DOCTYPE html>
<html lang="pt_br"> <!-- lang é um atributo -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proffy | Sua plataforma de estudos online</title>
</head>
<body>
    Proffy imagem
    Sua plataforma de estudos online
    botao botao
    <!-- Video Dia 1: 1:02:00  -->
</body>
</html>