{% extends "layout.html" %}
{% block body %}

<body id="page-landing">
    <div id="container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Proffy">
            <h2>Sua plataforma de estudos online</h2>
        </div>

        <img class="hero-image" src="{{ url_for('static', filename='img/landing.svg') }}" alt="Plataforma de Estudos">

        <div class="buttons-container">
            <a class="study" href="{{ url_for('site.pageStudy') }}">
                <img src="{{ url_for('static', filename='img/icons/study.svg') }}" alt="Estudar">
                Estudar
            </a>
            <a class="give-classes" href="{{ (url_for('site.pageGiveClasses')) }}">
                <img src="{{ url_for('static', filename='img/icons/give-classes.svg') }}" alt="Dar Aulas">
                Dar Aulas
            </a>
        </div>

        <p class="total-connections">
            Total de 200 conexões já realizadas
            <img src="{{ url_for('static', filename='img/icons/purple-heart.svg') }}"
        </p>
    </div>
</body>

{% endblock %}